%YAML 1.1
---
gfVersion: v1.0
class: app

name: wc-gf
description: wc (word count) linux command wrapped in geneflow app
repo_uri: None
version: '0.1'
inputs:
  file:
    label: Input File
    description: Input file
    type: File
parameters:
  output:
    label: Output File
    description: Output file
    type: File
definition:
{% if agave %}
  agave:
    agave_app_id: {{ agave.appsPrefix }}-wc-gf-0.1{{ revision }}
{% endif %}
  local:
    script: wc-gf.sh
...